{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <div id="bannermainbuttonrow">
                        <a class="indexbuttonbanner" data-wow-delay=".9s"
                            href="talks"><i class="ion-ios-mic"></i><p class="buttonsubtitle">Talks</p></a>
                        <a class="indexbuttonbanner" data-wow-delay=".9s"
                            href="https://github.com/b3a-dev" target="_blank"><i class="ion-social-github"></i><p class="buttonsubtitle">Projects</p></a>
                        <a class="indexbuttonbanner" data-wow-delay=".9s"
                            href="/blog"><i class="ion-ios-paper"></i><p class="buttonsubtitle">Blog</p></a>
                    </div>
                    <div class="indexicons">
                        <a class="indexbuttoncontact" data-wow-delay=".9s"
                            href="https://twitter.com/beatrizmrg?" target="_blank"><i class="ion-social-twitter"></i></a>
                        <a class="indexbuttoncontact" data-wow-delay=".9s"
                            href="https://github.com/b3a-dev" target="_blank"><i class="ion-social-github"></i></a>
                        <a class="indexbuttoncontact" data-wow-delay=".9s"
                            href="https://medium.com/@beatrizmrg" target="_blank"><i class="ion-ios-paper"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}